﻿@model IEnumerable<Accident>
@{
    Layout = "_LayoutAdmin";
}

@section Scripts{

    <script>
        $(document).ready(function() {

            const x = document.getElementById("demo");
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {


                console.log(position.coords.latitude);
                console.log(position.coords.longitude);
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                var concatedvalue = lat + "," + lon;
                console.log(concatedvalue);
                document.getElementById("coordinate").value = lat + "," + lon;


            }

            getLocation();
                        });

    </script>
}

    <div class="app-container">
        <!-- begin app-nabar -->
        <!-- end app-navbar -->
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12 m-b-30">
                        <!-- begin page title -->
                        <div class="d-block d-lg-flex flex-nowrap align-items-center">
                            <div class="page-title mr-4 pr-4 border-right">
                                <h1>Accident Reports</h1>
                            </div>


                        </div>
                        <!-- end page title -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Accident Location</th>
                                    <th>contact</th>
                                    <th>Number</th>
                                    <th>Reporters Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Location</td>
                                    <td>@item.Contact</td>
                                    <td>@item.Number</td>
                                    <td>@item.ReportersName</td>
                                    <td>
                                        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="ViewAccidentPage" asp-route-id="@item.Id">View</a>
                                        <a role="button" class="btn btn-secondary" asp-controller="Admin" asp-action="Route" asp-route-usercoordinate="@item.Geolocation" asp-route-mycoordinate="26.560588465928983,88.08661724010332">Route</a>
                                        

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>