﻿@model EventsModel
@{
    Layout = "_LayoutAdmin";
}


<head>
      <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/vehicle/css/main.css" rel="stylesheet" media="all">
</head>

<div class="app-container">
    <!-- begin app-nabar -->
    <!-- end app-navbar -->
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 m-b-30">
                    <!-- begin page title -->
                    <div class="d-block d-lg-flex flex-nowrap align-items-center">
                        <div class="page-title mr-4 pr-4 border-right">
                            <h1>Events Register</h1>
                        </div>


                    </div>
                    <!-- end page title -->
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Events
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="AddEvents" asp-controller="Admin" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="name">
                                    <label class="control-label" asp-for="Title"></label>
                                </div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" asp-for="Title">
                                    </div>
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="name">
                                    <label class="control-label" asp-for="EventsDetail"></label>
                                </div>
                                <div class="value">
                                    <div class="input-group">
                                        <textarea rows="2" class="form-control input--style-5" asp-for="EventsDetail"></textarea>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EventsDetail"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="name">
                                    <label class="control-label" asp-for="ImgUrl"></label>

                                </div>
                                <div class="value">
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="email1" asp-for="ImgUrl" placeholder="Photos" accept="image/*" />
                                    </div>
                                    <span class="text-danger" asp-validation-for="ImgUrl"></span>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="input-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

                                <!-- Jquery JS-->
<script src="~/vehicle/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/vehicle/vendor/select2/select2.min.js"></script>
<script src="~/vehicle/vendor/datepicker/moment.min.js"></script>
<script src="~/vehicle/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="~/vehicle/js/global.js"></script>