﻿@model IEnumerable<Vehicle>
@{
    Layout = "_LayoutAdmin";
}



<div class="app-container">
    <!-- begin app-nabar -->
    <!-- end app-navbar -->
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 m-b-30">
                    <!-- begin page title -->
                    <div class="d-block d-lg-flex flex-nowrap align-items-center">
                        <div class="page-title mr-4 pr-4 border-right">
                            <h1>Lost Reports</h1>
                        </div>


                    </div>
                    <!-- end page title -->
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Lost Location</th>
                                <th>Vehicle</th>
                                <th>Owner</th>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Address</td>
                                    <td>@item.Type</td>
                                    <td>@item.OwnerName</td>
                                    <td>@item.Number</td>
                                    <td>@item.date</td>
                                    <td>@item.status</td>
                                    <td>
                                        <a role="button" class="btn btn-warning" asp-controller="Admin" asp-action="UpdateVehiclePage" asp-route-id="@item.Id">Update</a>
                                        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="FoundVehicle" asp-route-id="@item.Id">Found</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>