﻿@model Vehicle
@{
    Layout = "_LayoutAdmin";

}

<div class="app-container">
    <!-- begin app-nabar -->
    <!-- end app-navbar -->
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->



        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-6">
                    <div class="card card-statistics">
                        <div class="card-header">
                            <div class="card-heading">
                                <h4 class="card-title">@Model.OwnerName's Vehicle</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" class="form-horizontal" asp-action="UpdateVehicleAction" asp-controller="Admin">

                                <input hidden type="text" asp-for="Id" value="@Model.Id" />
                                <input hidden type="text" asp-for="date" value="@Model.date" />



                                <div class="form-group">
                                    <label class="control-label" asp-for="OwnerName">Owner Name</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="firstname1" asp-for="OwnerName" value="@Model.OwnerName" placeholder="Owner Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Number"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="lastname1" asp-for="Number" value="@Model.Number" placeholder="eg. Bike No." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Contact">Contact No.</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="username1" asp-for="Contact" value="@Model.Contact" placeholder="Contact No." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Address">Address</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="email1" asp-for="Address" value="@Model.Address" placeholder="from where vehicle is lost" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" asp-for="Email">Email</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="email1" asp-for="Email" value="@Model.Email" placeholder="Email address" />
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="control-label" asp-for="Type"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="email1" asp-for="Type" value="@Model.Type" placeholder="Type" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" asp-for="Model"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="email1" asp-for="Model" value="@Model.Model" placeholder="Bike Model" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Color"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="email1" asp-for="Color" value="@Model.Color" placeholder="Color of Vehicle" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" asp-for="Description"></label>
                                    <div class="mb-2">
                                        <textarea rows="3" class="form-control" asp-for="Description" value="@Model.Description"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" asp-for="status"></label>
                                    <div class="mb-2">
                                        <select asp-for="status" class="form-select" asp-items="new SelectList(ViewBag.status, Model.status)">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*<button type="submit" class="btn btn-primary">
                                        Update
                                        </button>*@

                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>