﻿@model Accident
@{
    Layout = "_LayoutAdmin";

}

<div class="app-container">
    <!-- begin app-nabar -->
    <!-- end app-navbar -->
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->



        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-6">
                    <div class="card card-statistics">
                        <div class="card-header">
                            <div class="card-heading">
                                <h4 class="card-title">Update Accident Details</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" class="form-horizontal" asp-action="UpdateAccidentAction" asp-controller="Admin">

                                <input hidden type="text" asp-for="Id" value="@Model.Id" />
                                <input hidden type="text" asp-for="Id" value="@Model.Geolocation" />
                                <input hidden type="text" asp-for="Date" value = "@Model.Date"/>
                                @*<input hidden type="text" asp-for="date" value="@Model." />*@



                                <div class="form-group">
                                    <label class="control-label" asp-for="Location"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="firstname1" asp-for="Location" value="@Model.Location" placeholder="Location" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Contact"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="lastname1" asp-for="Contact" value="@Model.Contact" placeholder="contact no" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="ReportersName"></label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="username1" asp-for="ReportersName" value="@Model.ReportersName" placeholder="Reporters Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="Image_Urls">Image</label>

                                    <div class="mb-2">

                                        <img src="@Model.Image_Urls" style="width: 150px;height: 150px;" />
                                    </div>

                                </div>



                                <div class="form-group">
                                    @*<button type="submit" class="btn btn-primary">
                                        Update
                                        </button>*@

                                    <button type="submit">  Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>