﻿@model IEnumerable<News>
@{
    Layout = "_LayoutAdmin";
}
<div class="app-container">
    <!-- begin app-nabar -->
    <!-- end app-navbar -->
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 m-b-30">
                    <!-- begin page title -->
                    <div class="d-block d-lg-flex flex-nowrap align-items-center">
                        <div class="page-title mr-4 pr-4 border-right">
                            <h1>News Register</h1>
                        </div>
                    </div>
                    <!-- end page title -->
                </div>
            </div>

            <section id="services" class="services">

                <form method="post" asp-controller="Landing" asp-action="News">

                    <input type="text" placeholder="search" name="query" />
                    <button class="btn btn-primary btn--radius-2 btn--red" type="submit">Search</button>

                </form>
                <br />
                <div class="container" data-aos="fade-up">



                    <div class="row gy-5">

                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                <div class="service-item">
                                    <div class="img">
                                        <img src="@item.ImgUrl" class="img-fluid" style="width:300px; height:150px" alt="">
                                    </div>
                                    <div class="details position-relative">
                                        <div class="icon">
                                            <i class="fas fa-newspaper"></i>
                                        </div>
                                        <a asp-controller="News" asp-action="Index" asp-route-id="@item.Id" class="stretched-link">
                                            <h3>@item.Title</h3>
                                        </a>
                                        <p>@item.NewsDetail.Substring(0,40) ...continue reading <i class="fas fa-book-reader"></i></p>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>

