﻿html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #0ea2bd;
}

form {
    padding-top: 10px;
    font-size: 13px;
    margin-top: 30px;
}

.card-title {
    font-weight: 300;
}

.btn {
    font-size: 13px;
}

.login-form {
    width: 320px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 20px 0 0;
}

span {
    font-size: 14px;
}

.submit-btn {
    margin-top: 20px;
}
