﻿

@model IEnumerable<Events>
@{
    Layout = "_LayoutLanding";
}
<br />
<br />
<br />
<br />

<h2>Events</h2>

<section id="services" class="services">
      <div class="container" data-aos="fade-up">

       
            
        <div class="row gy-5">

        @foreach (var item in Model)
        {
          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="@item.ImgUrl" class="img-fluid" style ="width:300px; height:150px"alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="fas fa-newspaper"></i>
                </div>
                <a asp-controller="Events" asp-action="Index" asp-route-id="@item.Id" class="stretched-link">
                  <h3>@item.Title</h3>
                </a>
                <p>@item.EventsDetail.Substring(0,40) ...continue reading <i class="fas fa-book-reader"></i></p>
               
              </div>
            </div>
          </div>
        }
          </div>
          </div>
          </section>