﻿@model IEnumerable<News>
@{
    Layout = "_LayoutLanding";
}
<br />
<br />
<br />
<br />

<h2>News Today</h2>

<section id="services" class="services">

    <form method="post" asp-controller="Landing" asp-action="News">

        <input type="text" placeholder="search" name="query" />
        <button class="btn btn-primary btn--radius-2 btn--red" type="submit">Search</button>

    </form>
    <br />
    <div class="container" data-aos="fade-up">



        @if (Context.Session.GetString("_isrecommend") == "true")
        {

            <div class="row gy-5">
                <p>Recommended for you</p>


                @foreach (var item in ViewBag.recommended_data)
                {
                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="@item.ImgUrl" class="img-fluid" style="width:300px; height:150px" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="fas fa-newspaper"></i>
                                </div>
                                <a asp-controller="News" asp-action="Index" asp-route-id="@item.Id" class="stretched-link">
                                    <h3>@item.Title</h3>
                                </a>
                                <p>@item.NewsDetail.Substring(0,40) ...continue reading <i class="fas fa-book-reader"></i></p>

                            </div>
                        </div>
                    </div>
                }
            </div>
        
        <hr />
        }


        <div class="row gy-5">
            <p>News</p>
            @foreach (var item in Model)
            {
                
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">
                        <div class="img">
                            <img src="@item.ImgUrl" class="img-fluid" style="width:300px; height:150px" alt="">
                        </div>
                        <div class="details position-relative">
                            <div class="icon">
                                <i class="fas fa-newspaper"></i>
                            </div>
                            <a asp-controller="News" asp-action="Index" asp-route-id="@item.Id" class="stretched-link">
                                <h3>@item.Title</h3>
                            </a>
                            <p>@item.NewsDetail.Substring(0,40) ...continue reading <i class="fas fa-book-reader"></i></p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>