﻿@page

<html>
<head>
    <title>Index demmo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="texttext/javascript">

        $(document).ready(function(){
            $('#buttonDemo1').click(function(){
        $.ajax({
            type:'GET',
            url:'/api/demo/demo1',
            success:function (result){
                $('#result1').html(result);
            }
        });
        });
        });
    </script>
</head>
<body>
    <fieldset>
        <legend>Demo 1</legend>
        <input type="button" value="Demo 1" id="buttonDemo1" />
        <br />
        <span id="result1"></span>
    </fieldset>
</body>
</html>


