﻿@model ChangePassword
@{
    Layout = "_LayoutLogin";
}
<link href="~/vehicle/css/changepwd.css" rel="stylesheet" media="all">

<div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center">Change password</h3>

        <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

        <div class="card-text">
            <form method="post" asp-action="Change" asp-controller="Login">


                <div class="form-group">
                    <label>Your Current Password</label>
                    <input type="password" asp-for="oldpassword" class="form-control form-control-sm">
                    <span asp-validation-for="oldpassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Your new password</label>
                    <input type="password" asp-for="newpassword" class="form-control form-control-sm">
                    <span asp-validation-for="newpassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" asp-for="confirmpassword" class="form-control form-control-sm">
                    <span asp-validation-for="confirmpassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
            </form>
        </div>
    </div>
</div>
