﻿
@model UserLogin
@{
    Layout = "_LayoutLogin";
}



<body class="bg-white">

    <div class="container-fluid d-flex align-items-center justify-content-between" style="background-color:#8e54e9;">

        <a asp-action="Index" asp-controller="Landing" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 style="color:#ffff">EAR<span>.</span></h1>
        </a>
    </div>
    <br />

    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="~/adminside/assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!--start login contant-->
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="login p-50">
                                        <h1 class="mb-2">Be welcomed. Be Pampered. Be yourself.</h1>
                                        <p>Welcome back, please login to your account.</p>
                                        <form method ="post" asp-action="Index" asp-controller="Login" class="mt-3 mt-sm-5">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" asp-for="username"></label>
                                                        <input type="text" class="form-control" asp-for="username" placeholder="Username" />
                                                        <span asp-validation-for="username" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" asp-for="password"></label>
                                                        <input type="password" asp-for="password" class="form-control" placeholder="Password" />
                                                        <span asp-validation-for="password" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-block d-sm-flex  align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Remember Me
                                                            </label>
                                                        </div>
                                                        <a href="javascript:void(0);" class="ml-auto">Forgot Password ?</a>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <input type="submit"class="btn btn-primary" value="Login"/>
                                                </div>
                                                <div class="col-12  mt-3">
                                                    <p>Don't have an account ?<a asp-action="Signup" asp-controller="Login"> Sign Up</a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="~/adminside/assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end login contant-->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->

   @* @section Scripts{
        
            <partial name="_PartialViewValidation"/>
        
    }
*@

</body>
