﻿
@model UserLogin
@{
    Layout = "_LayoutLogin";
}

<div class="container-fluid d-flex align-items-center justify-content-between" style="background-color:#8e54e9;">


    <a asp-action="Index" asp-controller="Landing" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 style="color:#ffff">EAR<span>.</span></h1>
    </a>
</div>
<br />
<body class="bg-white">

    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="~/adminside/assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!--start login contant-->
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="register p-5">
                                        <h1 class="mb-2">Be welcomed. Be Pampered. Be yourself.</h1>
                                        <p>Welcome, Please create your account.</p>
                                        <form method="post" asp-action="Signup" asp-controller="Login"  class="mt-2 mt-sm-5">
                                            <div class="row">

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" asp-for="email"></label>
                                                        <input type="email" class="form-control" asp-for="email" placeholder="Email" />
                                                        <span class="text-danger" asp-validation-for="email"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" asp-for="username"></label>
                                                        <input type="text" class="form-control" asp-for="username" placeholder="Username" />
                                                        <span class="text-danger" asp-validation-for="username"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label"></label>
                                                        <input type="password" class="form-control" placeholder="Password" />
                                                        <span class="text-danger" asp-validation-for="password"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" asp-for="password"></label>
                                                        <input type="password" class="form-control" asp-for="password" placeholder="Confirm Password" />
                                                        <span class="text-danger" asp-validation-for="password"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            I accept terms & policy
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button type="submit" class="btn btn-primary text-uppercase">Sign up</button>
                                                </div>
                                                <div class="col-12  mt-3">
                                                    <p>Already have an account ?<a asp-action="Index" asp-controller="Login"> Sign In</a></p>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="~/adminside/assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->




</body>
