﻿@using Microsoft.AspNetCore.Http

<!--new code-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="~/assets/css/variables.css" rel="stylesheet">
    <!-- <link href="~/assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="~/assets/css/variables-pink.css" rel="stylesheet"> -->
    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: HeroBiz - v2.1.0
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a asp-action="Index" asp-controller="Landing" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>EAR<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>



                    <li><a class="nav-link scrollto" asp-action="Navigate_about" asp-controller="Landing">About</a></li>
                    <li><a class="nav-link scrollto" asp-action="Navigate_portfolio" asp-controller="Landing">Portfolio</a></li>


                    <li><a class="nav-link scrollto" asp-action="News" asp-controller="Landing">News</a></li>
                    <li><a class="nav-link scrollto" asp-action="Event" asp-controller="Landing">Event</a></li>

                    @if (Context.Session.GetString("logged") == "true")
                    {

                        <li class="dropdown">
                            <a><span>Report</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a asp-action="Accident" asp-controller="Report">Accident</a></li>
                                <li><a asp-action="LostVehicle" asp-controller="Report">Lost Vehicle</a></li>

                            </ul>
                        </li>
                    }
                    <li><a class="nav-link scrollto" asp-action="Navigate_contact" asp-controller="Landing">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav><!-- .navbar -->
            @if (Context.Session.GetString("logged") == "true")
            {
                <a class="btn-getstarted scrollto" asp-controller="Report" asp-action="Accident">Report Accident</a>
            }
            @if (Context.Session.GetString("logged") == "true")
            {
                <a class="btn-getstarted scrollto" asp-action="Logout" asp-controller="Login">Logout</a>

            }
            else
            {
            <a class="btn-getstarted scrollto" asp-action="Index" asp-controller="Login">Login</a>
            }


        </div>
    </header><!-- End Header -->



    <main id="main">
        @RenderBody()
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Emergency Accident Reporting</h3>
                            <p>
                                Birtamode City <br>
                                Nepal<br><br>
                                <strong>Phone:</strong> +977-9860792780, +977-9815045930<br>
                                <strong>Email:</strong> ear@gmail.com<br>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a asp-action="Navigate_contact" asp-controller="Landing">Contact</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a asp-action="Navigate_about" asp-controller="Landing">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a asp-action="Navigate_portfolio" asp-controller="Landing">Portfolio</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a asp-action="News" asp-controller="Landing">News</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a asp-action="Event" asp-controller="Landing">Events</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    @*<div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>*@

                </div>
            </div>
        </div>

        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Emergency Accident Reporting</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                        Designed by <a href="https://nirajanb.com.np/">Nirajan</a> &amp <a href="https://pawanbastola.com.np/">Pawan</a>
                    </div>
                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

            </div>hjh
        </div>

    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>


    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts",required:false)

</body>

</html>
<!--new code-->
@*<!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    </head>
    <body>
    <div>
    @RenderBody()
    </div>
    </body>
    </html>*@
