﻿@model Events
@if (Context.Session.GetString("role") == "admin")
{

    Layout = "_LayoutAdmin";
}
else
{
    Layout = "_LayoutLanding";
}









<!-- Title Page-->
<!-- Icons font CSS-->
<link href="~/vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="~/vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/vehicle/css/main.css" rel="stylesheet" media="all">


<br />
<br />
<br />
<br />
<div style="background:#0ea2bd" class="page-wrapper">
    <br />
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">@Model.Title</h2>
            </div>
            <div class="card-body">

                <div class="col-xl-12 col-md-6">

                    <div class="img">
                        <img src="@Model.ImgUrl" class="img-fluid" alt="">
                    </div>
                    <p>@Model.Date</p>
                    <p>@Model.EventsDetail</p>

                </div>

                @if (Context.Session.GetString("role") == "user")
                {

                    <a asp-controller="Landing" asp-action="Event">
                        back
                    </a>

                }
            </div>

        </div>
    </div>
</div>
</div>


<!-- Jquery JS-->
<script src="~/vehicle/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/vehicle/vendor/select2/select2.min.js"></script>
<script src="~/vehicle/vendor/datepicker/moment.min.js"></script>
<script src="~/vehicle/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="~/vehicle/js/global.js"></script>




<!-- end document-->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->

<center>
</center>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
