﻿@model News

@{
    Layout = "_LayoutLanding";
}



<!DOCTYPE html>


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/vehicle/css/main.css" rel="stylesheet" media="all">
</head>

<br />
<br />
<br />
<br />
<div style="background:#0ea2bd" class="page-wrapper">
    <br />
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">@Model.Title</h2>
            </div>
            <div class="card-body">
                <div class= "me-lg-auto">
                    <h6 class="mr-auto">@Model.Date</h6>
                </div>
                <div class="col-xl-12 col-md-6">

                    <div class="img">
                        <img src="@Model.ImgUrl" class="img-fluid" alt="">
                    </div>

                    <p>@Model.NewsDetail</p>

                </div>


                <a asp-controller="Landing" asp-action="News">
                    back
                </a>
            </div>


        </div>
    </div>

    <br />


    <div class="wrapper wrapper--w790">
        <h3>Related News</h3>
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">



                <div class="row gy-5">

                    @foreach (var item in ViewBag.relatedNews)
                    {
                        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                            <div class="service-item">
                                <div class="img">
                                    <img src="@item.ImgUrl" class="img-fluid" style="width:300px; height:150px" alt="">
                                </div>
                                <div class="details position-relative">
                                    <div class="icon">
                                        <i class="fas fa-newspaper"></i>
                                    </div>
                                    <a asp-controller="News" asp-action="Index" asp-route-id="@item.Id" class="stretched-link">
                                        <h3>@item.Title</h3>
                                    </a>
                                    <p>@item.NewsDetail.Substring(0,40) ...continue reading <i class="fas fa-book-reader"></i></p>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>




<!-- Jquery JS-->
<script src="~/vehicle/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/vehicle/vendor/select2/select2.min.js"></script>
<script src="~/vehicle/vendor/datepicker/moment.min.js"></script>
<script src="~/vehicle/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="~/vehicle/js/global.js"></script>




<!-- end document-->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->
<!--fjkdjksjkjdfjjskjfdjskjfdksjfjsf---------------------------------------------------------------->

<center>
</center>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
<!--comment ------------------------------------------------------------------------------------------------>
