﻿@model AccidentViewModel
@{
    Layout = "_LayoutLanding";
}

<br />
<br />
<br />
<br />


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->

    <link href="~/vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/vehicle/css/main.css" rel="stylesheet" media="all">
</head>



@section Scripts{

    <script>
        const x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {


            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            var concatedvalue = lat +","+ lon;

            document.getElementById("coordinate").value = lat+","+lon;
            

        }

        getLocation();

    </script>
}

    <div style="background:#0ea2bd;" class="page-wrapper p-t-45 p-b-50">
        <p id="x"></p>
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Accident Report Form</h2>
                </div>
                <div class="card-body">
                    <form id="signupForm1" method="post" enctype="multipart/form-data" asp-controller="Report" asp-action="Accident" class="form-horizontal">
                        <div class="form-group">
                            <div asp-validation-summary="All">
                            </div>
                        </div>


                         <div class="form-row">
                            
                            <div class="value">
                                <div class="input-group">
                                    <input id="coordinate" class="input--style-5" type="text" asp-for="Geolocation" hidden>
                                </div>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">
                                <label class="control-label" asp-for="Number"></label>

                            </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" asp-for="Number">
                                </div>
                                <span class="text-danger" asp-validation-for="Number"></span>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">
                                <label class="control-label" asp-for="Location"></label>

                            </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" asp-for="Location">
                                </div>
                                <span class="text-danger" asp-validation-for="Location"></span>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">
                                <label class="control-label" asp-for="Contact"></label>

                            </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" asp-for="Contact">
                                </div>
                                <span class="text-danger" asp-validation-for="Contact"></span>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">
                                <label class="control-label" asp-for="file"></label>

                            </div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="file" class="form-control" id="email1" asp-for="file" placeholder="Photos" accept="image/*" />
                                </div>
                                <span class="text-danger" asp-validation-for="file"></span>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">
                                <label class="control-label" asp-for="ReportersName"></label>

                            </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" asp-for="ReportersName">
                                </div>
                                <span class="text-danger" asp-validation-for="ReportersName"></span>

                            </div>
                        </div>
                        <div class="form-row">



                            <button class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="~/vehicle/vendor/jquery/jquery.min.js"><script/>
    <!-- Vendor JS-->
    <script src="~/vehicle/vendor/select2/select2.min.js"></script>
    <script src="~/vehicle/vendor/datepicker/moment.min.js"></script>
    <script src="~/vehicle/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/vehicle/js/global.js"></script>