﻿@model Vehicle
@{

    Layout = "_LayoutLanding";
}

<br />
<br />
<br />
<br />

<!DOCTYPE html>


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/vehicle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vehicle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vehicle/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/vehicle/css/main.css" rel="stylesheet" media="all">
</head>


<div style="background:#0ea2bd" class="page-wrapper p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Lost Vehicle Registration Form</h2>
            </div>
            <div class="card-body">
                <form id="signupForm1" method="post" class="form-horizontal" asp-action="LostVehicle" asp-controller="Report">
                    <div class="form-group">
                        <div asp-validation-summary="All">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="OwnerName"></label>
                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="OwnerName">
                            </div>
                            <span class="text-danger" asp-validation-for="OwnerName"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Number"></label>

                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="Number" name="number">
                            </div>
                            <span class="text-danger" asp-validation-for="Number"></span>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Contact"></label>

                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="Contact">
                            </div>
                            <span class="text-danger" asp-validation-for="Number"></span>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Address"></label>

                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="Address">
                            </div>
                            <span class="text-danger" asp-validation-for="Number"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Email"></label>
                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" asp-for="Email">
                            </div>
                            <span class="text-danger" asp-validation-for="Email"></span>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Vehicle Type</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                     <select asp-for="Type" asp-items="new SelectList(ViewBag.type)">
                                        </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Model"></label>
                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="Model">
                            </div>
                            <span class="text-danger" asp-validation-for="Model"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Color"></label>

                        </div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" asp-for="Color">
                            </div>
                            <span class="text-danger" asp-validation-for="Color"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">
                            <label class="control-label" asp-for="Description"></label>

                        </div>
                        <div class="value">
                            <div class="input-group">
                                 <textarea rows="2" class="form-control input--style-5" asp-for="Description"></textarea>
                            </div>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div><br /><br />
                        <br />
                        <br />
                        <br />


                        <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Jquery JS-->
<script src="~/vehicle/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/vehicle/vendor/select2/select2.min.js"></script>
<script src="~/vehicle/vendor/datepicker/moment.min.js"></script>
<script src="~/vehicle/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="~/vehicle/js/global.js"></script>




<!-- end document-->